:root {
  --text-shadow: 0rem 0.188rem 0rem rgba(0, 0, 0, 0.188);
  --header-shadow: 0rem 0.375rem 0rem rgba(0, 0, 0, 0.188);
  --transition: all 0.2s ease-in-out;

  --primary-color: #e1003c;
  --secondary-color: #1e145f;
}

*,
*::before,
*::after {
  @apply m-0 box-border p-0;
}

body {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%201024%22%20width%3D%221024%22%20height%3D%221024%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20rect%20%7B%20fill%3A%20rgba(255,255,255,0.039)%3B%20transform-origin%3A%2050%25%2050%25%3B%20transform%3A%20translateX%28-25%25%29%20translateY%28-25%25%29%3B%20%7D%20%3C%2Fstyle%3E%20%3Crect%20x%3D%22256%22%20y%3D%22256%22%20width%3D%2213.01%25%22%20height%3D%2213.01%25%22%20%2F%3E%20%3Crect%20x%3D%22768%22%20y%3D%22768%22%20width%3D%2213.01%25%22%20height%3D%2213.01%25%22%20%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(
      201deg,
      var(--primary-color) 34%,
      var(--secondary-color) 83%
    );
  @apply flex min-h-screen bg-repeat p-1 py-8 text-white;
  @apply sm:px-4 md:px-12;
  @apply lg:max-h-screen lg:items-center lg:overflow-hidden;

  background-size: 384px, auto;
  background-position:
    center,
    0% 0%;
  font-family: "Inter", sans-serif;
}

@media only screen and (max-width: 1024px) {
  body {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201024%201024%22%20width%3D%221024%22%20height%3D%221024%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cstyle%3E%20rect%20%7B%20fill%3A%20rgba(255,255,255,0.039)%3B%20transform-origin%3A%2050%25%2050%25%3B%20transform%3A%20translateX%28-25%25%29%20translateY%28-25%25%29%3B%20%7D%20%3C%2Fstyle%3E%20%3Crect%20x%3D%22256%22%20y%3D%22256%22%20width%3D%2213.01%25%22%20height%3D%2213.01%25%22%20%2F%3E%20%3Crect%20x%3D%22768%22%20y%3D%22768%22%20width%3D%2213.01%25%22%20height%3D%2213.01%25%22%20%2F%3E%3C%2Fsvg%3E"),
      linear-gradient(
        201deg,
        var(--secondary-color) 34%,
        var(--primary-color) 83%
      );
  }
}

.layout {
  @apply flex flex-col gap-4;
  @apply lg:flex-row;
}

.header {
  @apply flex flex-1 flex-col items-center justify-center gap-4 text-center;
  @apply sm:gap-8;
  @apply lg:items-end lg:text-right;
}

.heading-primary {
  @apply my-0 text-3xl font-extrabold tracking-[-0.1rem];
  @apply sm:text-5xl;
  @apply lg:text-7xl;

  text-shadow: var(--header-shadow);
}

.description-text {
  @apply text-base font-semibold leading-6;
  @apply md:text-lg md:leading-8;
  @apply lg:text-base;

  text-shadow: var(--text-shadow);
}

.description-link {
  color: var(--primary-color);
  @apply font-extrabold underline;
}

.hb-logo {
  @apply aspect-square w-24 rounded-full;

  box-shadow: var(--header-shadow);
}

.main {
  @apply h-auto flex-1 px-2 py-6;
  @apply lg:h-[600px] lg:overflow-y-scroll lg:px-6 lg:py-2;
}

@media only screen and (max-height: 600px) and (min-width: 1024px) {
  .main {
    @apply h-screen;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #fff6f8;
  border-radius: 4px;
}

.groups {
  @apply grid gap-4;
  @apply sm:px-6;
  @apply md:px-12;
  @apply lg:pr-0;
  grid-auto-rows: 1fr;
}

.card {
  @apply flex cursor-pointer flex-row flex-nowrap items-center justify-center gap-3 rounded-3xl bg-white p-3 text-black h-full;
  @apply sm:gap-5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

.card:hover {
  transform: scale(1.015);
}

.card-image {
  @apply aspect-square min-w-[50px] flex-1  rounded-2xl;
}

.card-image img {
  filter: invert(81%) sepia(90%) saturate(6476%) hue-rotate(337deg)
    brightness(85%) contrast(110%);
}

.card-text {
  @apply flex-[8] text-xs font-medium leading-4 text-gray-700;
  @apply md:text-xs md:leading-5;
  @apply lg:flex-[6];
  text-shadow: 0rem 4px 4px rgba(0, 0, 0, 0.1);
}

.card-text h2 {
  @apply text-sm font-bold;
  @apply md:text-base;
}
